{{ data.format_constraints.experience_order.bytedance }}
{{ data.format_constraints.immutable_fields.heading }}
{{ data.format_constraints.immutable_fields.bytedance | join('\n') }}

{{ data.format_constraints.scope_rules.heading }}
{{ data.format_constraints.scope_rules.bytedance }}
{{ data.format_constraints.scope_rules.didi }}
{{ data.format_constraints.scope_rules.didi_global_bullet }}
{{ data.format_constraints.scope_rules.temu }}