{{ data.format_constraints.experience_order.tiktok }}
{{ data.format_constraints.immutable_fields.heading }}
{{ data.format_constraints.immutable_fields.tiktok | join('\n') }}

{{ data.format_constraints.scope_rules.heading }}
{{ data.format_constraints.scope_rules.tiktok }}
{{ data.format_constraints.scope_rules.didi }}
{{ data.format_constraints.scope_rules.didi_global_bullet }}
{{ data.format_constraints.scope_rules.temu }}